<html>
    <body>
        <h2> Pagina de Login </h2>

        <form action="/login" method="POST">
            <input type="email" name="email"></input>
            <input type="password" name="senha"></input>
            <button type="submit">LOGAR</button>
        </form>
    </body>

</html>
